coverage ~=5.2
doctr ~=1.8.0
pyflakes ~=2.2.0
pytest ~=6.0.1
vcrpy ~=4.1.0
doctr ~=1.8.0
ipython ~=7.16.1
matplotlib ~=3.3.0
numpydoc ~=1.0.0
requests-mock ~=1.8.0
sphinx ~=3.1.2
sphinx_rtd_theme ~=0.5.0
